body{
    background-color: rgb(3, 63, 87);
}


.container i{
    color: red;
}
.container{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 550px;
color: aliceblue;
}

.calculator{
    height: 400px;
    width: 250px;
    background-color: rgb(9, 2, 39);
border-radius: 10px;
}
.calculations{
    width: 100%;
    height: 50px;
    /* background-color: rgba(0, 0, 0, 0.753); */
    position: relative;
    bottom: 10px;
    font-size: 2.5em;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    
    
}
.result{
    width: 95%;
    height: 80%;
  border-radius: 5px;
  /* background-color: aquamarine; */
  /* color: white; */
  border: .5px solid white;
  text-align: end;
  font-size: 1em;
  
}
.rows{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;

}

.rows input{
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    margin-top: 5px;
    border: none;
    border-radius: 5px;

}
.heading{
    color: white;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 10px;
    font-size: 2em;
}

.op{
    background-color: rgb(211, 128, 3);
    border: none;
    border-radius: 5px;
    color: aliceblue;
}
.equal{
    background-color: rgb(5, 212, 74);
    color: white;
}
.cut{
    background-color: red;
    color: white;
}